{% include 'Geo/navbar.html' %}
{% include 'Geo/bottoni.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lo Schnauzer</title>
</head>
<body>
    {% block content %}
    <h1>Lo Schnauzer</h1>
    <div class="container">
        <div class="text">
            <p>Lo Schnauzer è una razza canina dalla Germania dal carattere distintivo e l'aspetto affascinante. Originariamente allevati per svolgere varie mansioni agricole, come la caccia ai roditori e la protezione delle proprietà rurali, gli Schnauzer hanno sviluppato nel corso del tempo una reputazione di fedeltà, coraggio e intelligenza.</p>
            <p>Questi cani si distinguono per la loro struttura quadrata e robusta, con una testa ben proporzionata e un muso lungo e quadrato. Le loro orecchie a forma di V e le sopracciglia folte conferiscono loro un'aria di attenzione e vivacità. Il loro mantello è generalmente ruvido e può presentarsi in varie colorazioni, tra cui nero, sale e pepe o nero e argento.</p>
            <p>Ma ciò che rende gli Schnauzer davvero speciali è il loro temperamento. Sono cani coraggiosi e leali, pronti a proteggere la loro famiglia e il loro territorio. Allo stesso tempo, sono affettuosi e socievoli, desiderosi di interagire con le persone e di partecipare alle attività quotidiane della famiglia.</p>
            <p>Inoltre, gli Schnauzer sono estremamente intelligenti e desiderosi di piacere, il che li rende facili da addestrare. Possono eccellere in varie attività, dal lavoro di difesa alla competizione in sport cinofili come l'agility o l'obbedienza.</p>
            <p>Per quanto riguarda la cura, gli Schnauzer richiedono una moderata quantità di esercizio e godono di attività all'aperto. Il loro mantello richiede regolari spazzolature e tagli per mantenere la sua forma caratteristica, mentre è importante prestare attenzione alla pulizia delle orecchie e al controllo dei denti.</p>
            <p>Anche se possono essere inclini a alcune condizioni di salute come problemi oculari o displasia dell'anca, una dieta equilibrata, esercizio regolare e visite veterinarie regolari possono contribuire a mantenere gli Schnauzer sani e felici per molti anni.</p>
            <p>In sintesi, gli Schnauzer sono cani meravigliosi che portano gioia e vitalità nelle vite delle persone con cui vivono. La loro combinazione di intelligenza, lealtà e vivacità li rende compagni ideali per molte famiglie e individui.</p>
        </div>
        <div class="image">
            <img src="{% static 'razza/taglia.jpg' %}" alt="Schnauzer taglie">
        </div>
    </div>

    <div class="nano">
        <div class="testo_nano">
        <h1>Schnauzer Nano (Zwergschnauzer)</h1>
        <h3>Aspetto Fisico:</h3>
        <p>Lo Schnauzer Nano è una razza canina di piccola taglia con un corpo quadrato e robusto. La sua struttura è ben proporzionata, con una testa allungata e un muso squadrato.</p>
        <p>Le sue orecchie a forma di V sono inserite alte sulla testa e possono essere naturali o tagliate a uncino. Gli occhi dello Schnauzer Nano sono scuri e ovali, mentre la sua coda è generalmente tagliata a metà lunghezza e portata alta.</p> 
        <p>Il mantello è ruvido e doppio strato, con una folta barba e sopracciglia distintive che conferiscono al cane un'espressione vivace. Lo Schnauzer Nano può presentarsi in diversi colori, tra cui nero, sale e pepe, nero e argento.</p>
    
        <h3>Carattere:</h3>
        <p>Lo Schnauzer Nano è noto per il suo carattere coraggioso, leale e vivace. È un cane intelligente e energico, con un forte desiderio di piacere al suo proprietario. È curioso e attento all'ambiente circostante, mostrando un comportamento vigile e protettivo verso la sua famiglia.</p> 
        <p>Nonostante la sua taglia compatta, lo Schnauzer Nano è un cane robusto e sicuro di sé, spesso descritto come "un grande cane in un piccolo corpo". È affettuoso con la sua famiglia e generalmente amichevole con gli estranei una volta che è stata fatta un'adeguata socializzazione.</p>
        <p>Tuttavia, può essere sospettoso nei confronti di persone o situazioni nuove, rendendo l'addestramento alla socializzazione particolarmente importante. Lo Schnauzer Nano è un compagno fedele e gioioso, capace di portare allegria e vitalità nelle vite delle persone con cui vive.</p>
    </div>
    <div class="immagine_nano">
        <img src="/static/razza/nano_razza.jpg" alt="Schnauzer nano razza">
    </div>
</div>
<div class="additional-section_n">
    <div class="caratt_nano">
        <h3 style="margin-top: -5px;">Peso: 4-8 kg</h3>
        <h3>Longevità: 12-14 anni</h3>
    </div>
</div>
    <div class="bottone_nani">
        <a href="{% url 'cuccioli_nani' %}" class="button">Scopri i nostri cuccioli nani</a>
    </div>

<div class="medio">
    <div class="testo_medio">
    <h1>Schnauzer Standard</h1>
    <h3>Aspetto Fisico:</h3>
    <p>Tra le tre tipologie di schnauzer che sono andate a svilupparsi: il mini schnauzer, lo schnauzer medio e lo schnauzer gigante; le dimensioni dello schnauzer medio sono, ovviamente, quelle nella media di un cane relativamente grande ma che non è caratterizzato da dimensioni spropositate.</p>
    <p> Questo aspetto lo renderà gradevole alla vista, così come evidenziato nello standard di razza Enci, con una muscolatura piuttosto visibile e piuttosto “comodo” da tenere all’interno di un appartamento di dimensioni relativamente piccole senza costringerlo a sacrifici eccessivi. I più ricercati hanno il mantello di colore nero con sottopelo nero.</p>
    <p>Il mantello dello Schnauzer Medio è ruvido e doppio strato, con una folta barba e sopracciglia che aggiungono carattere al suo aspetto. Questa razza può presentarsi in varie colorazioni, tra cui nero, sale e pepe, nero e argento.</p>
    <h3>Carattere:</h3>
    <p>Lo schnauzer medio è un cane molto intelligente. Quest’intelligenza corrisponde, in molto cas,i e a seconda dell’addestramento che questo riceve, anche a grande sensibilità sotto molti punti di vista. Questo approccio particolare dello schnauzer potrebbe portarlo a soffrire questo tipo di condizione, soprattutto per le necessità che questo animale ha.</p> 
    <p>In ogni caso c’è sempre l’altra faccia della medaglia caratteristica di una razza dalla grande signorilità e intelligenza che sa come comportarsi anche quando non ha i membri della famiglia nelle vicinanze anche per quel che riguarda i cuccioli di questa razza. In generale, tuttavia, è un animale che non ama molto stare in solitudine.</p>
    <p>Piuttosto testardo come animale lo schnauzer medio. Si tratta di un cane di grande intelligenza e di grande sveltezza mentale, ma può essere considerato anche piuttosto indipendente sotto alcuni punti di vista. Ecco, dunque, che per un preciso addestramento, soprattutto quando si tratta di guidare l’interazione con il proprio animale, il padrone deve assumere comportamento fermo e piuttosto deciso nell’impartire gli ordini sviluppare la strategia di addestramento.</p>
</div>
<div class="immagine_medio">
    <img src="/static/razza/medio_razza.jpg" alt=" Schnauzer Standard razza">
    </div>
    </div>
    <div class="additional-section_m">
        <div class="caratt_medio">
            <h3 style="margin-top: -5px;">Peso: 14-20 kg</h3>
            <h3>Longevità: 11-14 anni</h3>
        </div>
    </div>
    <div class="bottone_standard">
        <a href="{% url 'cuccioli_standard' %}" class="button">Scopri i nostri cuccioli standard</a>
</div>

    <div class="gigante">
        <div class="testo_gigante">
        <h1>Schnauzer Gigante (Riesenschnauzer)</h1>
        <h3>Aspetto Fisico:</h3>
        <p>Lo Schnauzer gigante è una razza grande, forte. È un cane più raccolto che slanciato, dal pelo duro. È l’immagine ingrandita e rafforzata dello Schnauzer medio, un cane adatto all’attacco e alla difesa, e che incute rispetto. È un cane inscrivibile in un quadrato, in cui l’altezza al garrese è quasi uguale alla lunghezza del corpo.</p>
        <p>La lunghezza della testa (misurata dalla punta del tartufo all’occipite) corrisponde alla metà della lunghezza della linea superiore (misurata dal garrese all’inserzione della coda).</p>
        <p>Le caratteristiche tipiche di questo cane sono il suo carattere buono, equilibrato, e l’incorruttibile fedeltà al suo proprietario. I suoi sensi molto sviluppati, la sua intelligenza, l’attitudine ad essere addestrato, la sua forza, tenacia, rapidità, resistenza alle intemperie e alle malattie ne fanno, con la sua resistenza innata alla fatica e il suo carattere sicuro di sé, un compagno ideale anche per lo sport, l’utilità e il lavoro.</p>
        <h3>Carattere:</h3>
        <p>o schnauzer medio è un cane molto intelligente. Quest’intelligenza corrisponde, in molto cas,i e a seconda dell’addestramento che questo riceve, anche a grande sensibilità sotto molti punti di vista. Questo approccio particolare dello schnauzer potrebbe portarlo a soffrire questo tipo di condizione, soprattutto per le necessità che questo animale ha.</p> 
        <p>In ogni caso c’è sempre l’altra faccia della medaglia caratteristica di una razza dalla grande signorilità e intelligenza che sa come comportarsi anche quando non ha i membri della famiglia nelle vicinanze anche per quel che riguarda i cuccioli di questa razza. In generale, tuttavia, è un animale che non ama molto stare in solitudine.</p>
        <p>Piuttosto testardo come animale lo schnauzer medio. Si tratta di un cane di grande intelligenza e di grande sveltezza mentale, ma può essere considerato anche piuttosto indipendente sotto alcuni punti di vista. Ecco, dunque, che per un preciso addestramento, soprattutto quando si tratta di guidare l’interazione con il proprio animale, il padrone deve assumere comportamento fermo e piuttosto deciso nell’impartire gli ordini sviluppare la strategia di addestramento.</p>
    </div>
    <div class="immagine_gigante">
        <img src="{% static 'razza/gigante_razza.jpg' %}" alt=" Schnauzer Gigante razza">
        </div>
        </div>
        <div class="additional-section_g">
            <div class="caratt_gigante">
                <h3 style="margin-top: -5px;">Peso: 35-47 kg</h3>
                <h3>Longevità: 11-14 anni</h3>
        </div>
            </div>
                <div class="bottone_giganti">
    <a href="{% url 'cuccioli_gigante' %}" class="button">Scopri i nostri cuccioli di gigante</a>
    <br><br>
    <br><br>
    <br><br>             
</div>
    {% endblock content %}
</body>
</html>
